@import '../../assets/helper/Helper.scss';



.headerStyle {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("/header.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 25rem;

    .headerLogoStyle {
        display: flex;
        justify-content: center;
        margin-top: 8rem;

        .headerName {
            color: white;
            font-family: Marck Script;
            font-size: 100px;
            font-weight: 200;
            filter: drop-shadow(0 0 0.2rem rgb(29, 29, 29));
        }
    }
}

@media only screen and (max-width: 1100px){
    .headerStyle{
        .headerLogoStyle{
            margin-top: 8rem;
            .headerName{
                font-size: 60px;
            }
        }

    }
}

@media only screen and (max-width: 600px){
    .headerStyle{
        .headerLogoStyle{
            margin-top: 8rem;
            .headerName{
                font-size: 60px;
            }
        }

    }
}